/* 코드 블록의 최대 높이를 400px로 제한 */
.highlight pre {
    max-height: 400px;
    overflow-y: auto;
}

/* 코드 폰트 사이즈 조절로 전체적인 부피 줄이기 */
.highlight code {
    font-size: 0.70rem;
    line-height: 1.5;
}

.highlight {
    max-width: 95%;    /* 본문 너비의 95%만 차지 */
    margin: 0 auto;    /* 좌우 여백을 자동으로 두어 중앙 정렬 */
    border-radius: 8px; /* 모서리를 둥글게 (선택사항) */
}